# ignore PyCharm project config files and autocompletion
/.idea/

# ignore Visual Studio Code settings
/.vscode/

# ignore file where environment variables are stored
*.env

cache/

# ignore compiled bytecode of Python source files
*.pyc
__pycache__/

# ignore log files
*.log

.coverage
