apt-xapian-index==0.47
args==0.1.0
beautifulsoup4==4.4.1
blinker==1.3
catfish==1.4.2
certifi==2017.7.27.1
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==6.7
clint==0.5.1
command-not-found==0.3
cryptography==1.2.3
csvkit==0.9.1
defer==1.0.6
ecdsa==0.13
Fabric==1.12.0
flake8==2.5.4
floyd-cli==0.10.5
html5lib==0.999
httplib2==0.9.1
idna==2.5
invoke==0.20.3
jdcal==1.0
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==3.5.0
marshmallow==2.13.5
mccabe==0.2.1
menulibre==2.1.3
mpmath==0.19
mugshot==0.3.1
numpy==1.11.1
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
openpyxl==2.3.0
pandas==0.18.1
paramiko==1.17.2
pathlib2==2.3.0
pep8==1.7.0
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
psutil==3.4.2
ptyprocess==0.5
py==1.4.31
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.6.0
pygobject==3.20.0
PyJWT==1.3.0
pytest==2.8.7
python-apt==1.1.0b1
python-dateutil==2.5.3
python-debian==0.1.27
python-systemd==231
pytz==2017.2
pyxdg==0.25
reportlab==3.3.0
requests==2.18.3
requests-toolbelt==0.8.0
selenium==2.53.6
sessioninstaller==0.0.0
shortuuid==0.5.0
simpy==3.0.10
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.0.11
sympy==1.0
system-service==0.3
tabulate==0.7.7
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
xkit==0.0.0
xlrd==0.9.4
