astroid==2.3.2
attrs==19.3.0
black==19.10b0
certifi==2019.9.11
chardet==3.0.4
click==7.0
codecov==2.0.15
coverage==4.5.4
dash==1.5.1
dash-core-components==1.4.0
dash-html-components==1.0.1
dash-renderer==1.2.0
dash-table-experiments==0.6.0
ddt==1.2.1
decorator==4.4.1
flake8==3.7.9
Flask==1.1.1
Flask-Caching==1.7.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
gunicorn==19.9.0
idna==2.8
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.1.1
jupyter-core==4.6.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
nbformat==4.4.0
numpy==1.17.3
pandas==0.25.3
plotly==4.2.1
pluggy==0.13.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.3
pytest==5.2.2
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
requests==2.19.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
wrapt==1.10.11
